/*
base.js

These are base styles which are applied to most elements.

*/
body {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 9pt;
  
  color: #505050;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-family: 'Quattrocento Sans', sans-serif;
  background: url("../gfx/template/body-background-blue2.png") repeat-x fixed;
}
table{
  border: #BEBEBE;
}
input, textarea, select{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 9pt;
}
select{
  padding: 2px;
}
h1, h2, h3 {
  margin-top: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
}

h2 {
  font-size: 1.6em;
}

h3,h4 {
  color: #BEBEBE;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
}

ul {
  padding-left:12px;
}

td {
  vertical-align: top;
}
fieldset, .box-background, .ui-tabs-panels {
  background: url("../gfx/template/box-background.png") repeat-x scroll 0 0 white;
  border: 1px solid #BEBEBE;
  margin: 0 0 15px 0;
    -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset.fieldset-no-prettiness{
   background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
}
.box-background{
    margin: 10px 0 !important;
    padding: 10px;
}
legend {
  background: none !important;
  border: 0px !important;
  color: #999 !important;
  font-weight: bold !important;
}
label {
  display: block;
  margin-top: 10px;
}
hr{
  border: 1px solid #DEDEDE;
}
div.checkbox > label{
  float: right;
  margin: 3px 5px 10px;
}
a {
  text-decoration: none;
  color: #036ac7;
}

a.wijmo-wijmenu-link {
  color:white;
}

ul.wijmo-wijmenu-list{
  background-color: #666;
}
a:hover {
  text-decoration: underline;
}

a.forceLinkColor {
  color: #036ac7 !important;
}
a.forceLinkColor:hover {
  text-decoration: underline !important;
}
/*a:visited 
  color: #800483;
}*/

a img {
  border: none;
}

p {
  margin: 10px 0 0 0;
}
#site-title {
  padding-top: 15px;
  padding-left: 30px;
  color: #7e055e;
  font-size: 2em;
}

#page-title {
  color: #26A2D3;
}

div.form-element-container-inline-block{
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

div.form-element-container-block{
  display: block;
  margin: 0 10px 0 0;
}

div.form-buttons{
  margin-top: 10px;
}
label.accountSearchBy{
  margin-bottom: 5px;
}

.phoneExt{
  width: 87px;
}

.control-links{
  left: 0;
  /*position: absolute;
  top: -25px;*/
}

.hideField {
  display: none !important;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/*.ui-helper-clearfix { display: inline-block; }*/
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
/*.ui-helper-clearfix { display:block; }*/
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* MDD Edits Start here for A+ tables */
.skill-table {
  border-collapse: collapse;
}
.skill-table, .skill-table tr, .skill-table td, .skill-table th{
  padding: 2px;
  text-align: left;
}
.skill-table .skill-head {
  color: #26A2D3;
  border-bottom: 2px solid #D0E700;
  padding-bottom: 2px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.skill-table tr {
  color: #555;
  border-bottom: 1px solid black;
}
.skill-table tr:hover:not(:first-child) {
  color: black;
  background: #CCC
}
.skill-table tr:last-child {
  border-bottom: none
}


/* Component containers
----------------------------------*/
.skin .ui-widget { font-size: 1em; }
.skin .ui-widget input,
.skin .ui-widget select,
.skin .ui-widget textarea, 
.skin .ui-widget button { font-size: 1em; }
.skin .ui-widget-content { border: 1px solid #dddddd; background: #f2f5f7 url(cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x; color: #362b36; }
.skin .ui-widget-content a { color: #362b36; }
.skin .ui-widget-header { border: 1px solid #aed0ea; background: #deedf7 url(cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x; color: #222222; }
.skin .ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.skin .ui-state-default, 
.skin .ui-widget-content .ui-state-default { border: 1px solid #aed0ea; background: #d7ebf9 url(cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2779aa; outline: none; }
.skin .ui-state-default a, 
.skin .ui-state-default a:link, 
.skin .ui-state-default a:visited { color: #2779aa; text-decoration: none; outline: none; }
.skin .ui-state-hover, 
.skin .ui-widget-content .ui-state-hover, 
.skin .ui-state-focus, 
.skin .ui-widget-content .ui-state-focus { border: 1px solid #74b2e2; background: #e4f1fb url(cupertino/images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #0070a3; outline: none; }
.skin .ui-state-hover a, 
.skin .ui-state-hover a:hover { color: #0070a3; text-decoration: none; outline: none; }
.skin .ui-state-active, 
.skin .ui-widget-content .ui-state-active { border: 1px solid #2694e8; background: #3baae3 url(cupertino/images/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; outline: none; }
.skin .ui-state-active a, 
.skin .ui-state-active a:link, 
.skin .ui-state-active a:visited { color: #ffffff; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.skin .ui-state-highlight, 
.skin .ui-widget-content .ui-state-highlight {border: 1px solid #f9dd34; background: #ffef8f url(cupertino/images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x; color: #363636; }
.skin .ui-state-highlight a, 
.skin .ui-widget-content .ui-state-highlight a { color: #363636; }
.skin .ui-state-error, 
.skin .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #cd0a0a url(cupertino/images/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x; color: #ffffff; }
.skin .ui-state-error a, 
.skin .ui-widget-content .ui-state-error a { color: #ffffff; }
.skin .ui-state-error-text, 
.skin .ui-widget-content .ui-state-error-text { color: #ffffff; }
.skin .ui-state-disabled, 
.skin .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.skin .ui-priority-primary, 
.skin .ui-widget-content .ui-priority-primary { font-weight: bold; }
.skin .ui-priority-secondary, 
.skin .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(cupertino/images/ui-icons_72a7cf_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(cupertino/images/ui-icons_72a7cf_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(cupertino/images/ui-icons_72a7cf_256x240.png); }
.ui-state-default .ui-icon { background-image: url(cupertino/images/ui-icons_3d80b3_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(cupertino/images/ui-icons_2694e8_256x240.png); }
.ui-state-active .ui-icon {background-image: url(cupertino/images/ui-icons_ffffff_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(cupertino/images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(cupertino/images/ui-icons_ffffff_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Overlays */
.ui-widget-overlay { background: #eeeeee url(cupertino/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 50% 50% repeat; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #000000 url(cupertino/images/ui-bg_highlight-hard_70_000000_1x100.png) 50% top repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }
/* Resizable
----------------------------------*/
/*.ui-resizable { position: relative;}*/
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none; /*sorry for IE5*/
  display/**/: block; /*sorry for IE5*/
  position: absolute; /*must have*/
  z-index: -1; /*must have*/
  filter: mask(); /*must have*/
  top: -4px; /*must have*/
  left: -4px; /*must have*/
  width: 200px; /*must have*/
  height: 200px; /*must have*/
}/* Progressbar
----------------------------------*/
.ui-progressbar
{
        height:2em;
        text-align: left;
        border: 3px groove black;
}

.ui-progressbar .ui-progressbar-value
{
        margin: -1px;
        height:100%;
        background-image: url("../gfx/template/body-background-blue2.png");
}

/* small changes to make the page useful*/
ul.ui-menu-child, .ui-dialog, .ui-datepicker{
  background-color: #FFF;
}
.ui-datepicker{
  border: 1px solid #999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.ui-dialog-title{
  font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar-close{
  padding: 1px !important;
}
.ui-datatable-even{
  background-color: #EFEFEF;
}
.ui-datatable .ui-datatable-data td{
  padding: 4px !important;
}
.ui-datatable-no-padding .ui-datatable-data td{
  padding: 0px !important;
}
.ui-paginator{
  background: transparent;
    border-radius: 4px 4px 4px 4px;
}
.ui-paginator span.ui-state-active{
  background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
}
div.ui-menubar > ul > li > a > span {
  color: #FFF;
}
.ui-column-filter{
  padding: 0px;
}
.ui-datepicker-unselectable{
  background-color: #efefef;
}
.ui-state-highlight{
  background-color: #ffef8f;
}
.ui-state-active{
  background-color: #A8CF43;
}
.ui-panel .ui-panel-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #BEBEBE;
}
input.hasDatepicker{
  height: 21px;
  padding: 1px !important;
  width: 75px;
}
.ui-menu {
    padding: 0;
    font-variant: small-caps
}
.ui-menuitem-link .ui-icon-triangle-1-s{
  display: none;
}
.textarea-large textarea{
  width: 350px;
  height: 50px;
}
.input-wide input{
  width:350px;
}
input.ui-inputfield, textarea{
  background: url(../gfx/template/field-background.png) repeat-x white;
  border: 1px solid #BEBEBE;
  /* Safari 5, Chrome support border-radius without vendor prefix.
   * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
   * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
   */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Chrome, FF 4.0 support box-shadow without vendor prefix.
   * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
   * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
   * change the offsets, blur and color to suit your design.
   */
  /*-moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;*/
  /* with a big radius/font there needs to be padding left and right
   * otherwise the text is too close to the radius.
   * on a smaller radius/font it may not be necessary
   */
   
  /*padding: 4px 7px;*/
  /* only needed for webkit browsers which show a rectangular outline;
   * others do not do outline when radius used.
   * android browser still displays a big outline
   */
  outline: 0;
  /* this is needed for iOS devices otherwise a shadow/line appears at the
   * top of the input. depending on the ratio of radius to height it will
   * go all the way across the full width of the input and look really messy.
   * ensure the radius is no more than half the full height of the input,
   * and the following is set, and everything will render well in iOS.
   */
  -webkit-appearance: none;
}
input.ui-inputfield:focus {
  /* supported IE8+ and all other browsers tested.
   * optional, but gives the input focues when selected.
   * change to a color that suits your design.
   */
  border-color: #41AFC6;
}

ul.ui-menu-child {
    background: url("../gfx/template/drop-down-menu-3.png") repeat scroll center top transparent;
    border-right: 2px solid #7e055e;
    border-left: 2px solid #7e055e;
    border-bottom: 2px solid #7e055e;
    box-shadow: none !important;
    top: 25px !important;
}
ul.ui-menu-child a{
  color: white;
}
.ui-column-filter{
  width: 60px !important;
  height:18px;
}
ul.ui-picklist-list{
  background: url("../gfx/template/field-background.png") repeat-x scroll 0 0 white;
    border: 1px solid #BEBEBE;
    border-radius: 2px 2px 2px 2px;
}
.ui-datalist ul {
  margin: 0px !important;
}
.ui-datatable th, .ui-datatable tfoot td {
    padding: 4px 0px;
}
th div.ui-dt-c {
    padding: 0 0 5px !important;
}
th div.ui-dt-c > span{
   /*display: inline-block;
   padding-right: 16px;*/
}
.ui-dt-c span.ui-sortable-column-icon{
  padding-right: 0px;
}
label.data-table-column-label{
  margin: 0px 8px 0px 0px;
}
th.ui-state-default{
  padding: 5px;
    vertical-align: top;
}
.block-element-outlined{
  background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
}
