
.logout {
    position: absolute;
    right: 0;
    top: -25px;
}
#logo {
    float: right;
    position: relative;
    height: 50px;
    margin-right: 30px;
}
#header {
    height:60px;
    background: url("../gfx/template/content-background.png") repeat-y ;
}

#id-container {
    height: auto !important;
    margin: 0px auto;
    position: relative;
    width: 970px;
    background: url("../gfx/template/content-background.png") repeat-y ;
    
  height: 18px;
}

#id-inner-container {
  display:inline-block;
  height: 18px;
  background: url("../gfx/template/body-background-blue2.png") repeat-x fixed;
  padding: 0 5px 3px 15px;
}
#id-inner-container a {
  color: white;
  text-decoration: none;
}
#id-inner-container a:hover, #id a:active{
  color: #D6E045;
}
#id-inner-container{
  color:white;
}
.id-item{
  margin-right: 10px; 
}
.id-label{
  color:#4dc1f7;
}
#id-nav-separator{
  margin-right: 10px;
}
.role-switcher{
  display:inline-block;
}
#id-bar-end{
  background: url("../gfx/template/id-bar-background-clear.png") no-repeat scroll 100% 100% transparent;
    display: inline-block;
    height: 12px;
    margin-right: -5px;
    position: relative;
    top: 8px;
    width: 12px;
}
#nav{
  background: url("../gfx/template/nav-background-magenta.png") no-repeat;
  height: 38px;
    margin: 0px auto 0px;
    position: relative;
    width: 980px;
}
#headerNav {
  float: right;
  margin-right: 30px;
}
#header-container{
  height: auto !important;
    margin: 0px auto 0px;
    position: relative;
    width: 970px;
}

#page-container {
    background-color: white;
    height: auto !important;
    margin: 0 auto -77px;
    min-height: 100%;
    position: relative;
    width: 970px;
    background: url("../gfx/template/content-background.png") repeat-y ;
}
#content {
padding: 10px 30px;
}
#footer-container {
    background: url("../gfx/template/content-bottom-cap.png") no-repeat scroll 0 0 transparent;
    clear: both;
    margin: 77px auto;
    min-height: 100px;
    padding-top: 20px;
    position: relative;
    width: 970px;
}
#footer {
  margin: 0px 10px 0 10px;
    color: white;
}
#footer a {
  color: #D6E045;
}
.panel-float-left{
  float: left;
  max-width: 375px;
  min-width: 200px;
}
form.inline{
  display: inline-block;
}
#quick-links{
  display: block;
    margin-bottom: 15px;
    margin-top: -16px;
}
#help-icon-container{
  float: right;
    margin-right: 27px;
    margin-top: -10px;
}