
/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(../gfx/black_arrow.png);
	font-size:11px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

/* style the trigger elements */
#dyna img {
	border:0;
	cursor:pointer;
	margin:0 8px;
}
/* override the arrow image of the tooltip */
.tooltip.bottom {
	background:url(https://peak.k12.com/resources/gfx/black_arrow_bottom.png);
	padding-top:40px;
	height:55px;
}

.tooltip.bottom {
	background:url(https://peak.k12.com/resources/gfx/black_arrow_bottom.png);
}
.has-tooltip{
  height: 12px;
  width: 12px;
}
.chooser-has-tooltip{
  width: 14px;
}
div.chooser{
  margin-top: 10px;
}
.chooser-init {
    cursor: pointer;
    padding: 2px 10px;
}
.ui-radiobutton > .ui-state-default, .ui-chkbox > .ui-state-default {
  border: 1px solid #aed0ea; background: #d7ebf9 url(cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2779aa; outline: none; 
}

label.student-role-checkbox-label{
  width: 110px;
}
span.view-field-value{
  display: inline-block;
}
select.disabled-select{
  min-width: 75px;
  min-height: 16px;
}
div.chooser-value{
  margin-bottom: 10px;
}
div.label-right label{
  float: right;
  margin-top:4px;
}
.field-student-id input{
  width:50px;
}
.field-phone input{
  width:80px !important;
}
.field-phone-ext input{
  width:25px;
}
.field-postal-code input{
  width:50px;
}

.dataGrid-make-invisible table, .dataGrid-make-invisible tbody, .dataGrid-make-invisible tr, .dataGrid-make-invisible td{
  border: none !important;
  border-collapse: collapse;
  margin: 0;
  padding: 0 !important;
  background: none;
}