/* this is the color for the menu bg: #00586F */

html {
    background-color: #e6e9e9;
}
body {
    margin: 0 auto;
    max-width: 820px;
    font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    -webkit-font-smoothing: antialiased;
     overflow-x: hidden;
     background-color: #e6e9e9;
}

#player {
    height: 510px;
    width: 820px;
    overflow: hidden;
}