/* Global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input:focus,select:focus,textarea:focus,button:focus {
	outline: none;
}

html,body {
	height: 100%;
	/*background-color: #e6e9e9;*/
	background-color: #000000;
	font-family: 'Open Sans', sans-serif !important;
}

::-webkit-scrollbar {
	/*display: none;*/
}

body {
	position: relative;
	overflow: hidden;
	font-size: 16px;
	font-family: sans-serif;
	-webkit-transition: .3s;
    -moz-transition   : .3s;
    -o-transition     : .3s;
  	transition        : .3s;
}
body.transcripts-open {
	-webkit-transition: .3s;
    -moz-transition   : .3s;
    -o-transition     : .3s;
  	transition        : .3s;
  	-webkit-transform : translateY(-50%);
  	-moz-transform	  : translateY(-50%);
  	-ms-transform	  : translateY(-50%);
  	-o-transform	  : translateY(-50%);
  	transform		  : translateY(-50%);
}


#icon {
	position: absolute;
	top: -4px;
}

#menuIcon {
	height: 40px;
	width: 39px;
	background-image: url('../img/menuIcon.png');
	padding: 0;
	border: none;
	position: absolute;
	top: 3px;
	right: 244px;
}

#insideMenuButton>button#menuIcon {right 244px;
	
}

#player {
	height: 100%;
}
.videoTitleInfo {
	font-weight: 400;
	font-size: 18px;
	margin-left: 10px !important;
	margin-top: 10px !important;
}

#k12ytp-description {
	margin-left: 10px !important;
}

#video-top {
	background-color: #276399;
	text-align: center;
	padding-top: 12px;
	height: 48px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #F1F1F1;
}

#video-top img {
	position: absolute;
	top: 0px;
	left: 0px;
}

#nav-wrapper {
	
}

#nav-header,.nav-tabs {
	height: 48.4px;
	background-color: #215382;
}

.nav>li>a {
	padding: 10px 10px 5px;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: -2px;
	color: #fff;
}

.cbp-spmenu {
	background-color: transparent !important;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover {
	background-color: #fa8a0d;
	border: 1px solid #fa8a0d;
	color: #FFFFFF;
}

.nav-tabs>li.active>#analytics-link {
	background-color: #3e1151 !important;
	border: 1px solid #3e1151;
	color: #FFFFFF;
}

.nav>li>a:hover,.nav>li>a:focus {
	background-color: #276399;
	border-color: #276399;
}

.tab-content {
	height: calc(100% - 100px);
}

.tab-pane {
	height: 100%;
}

#nav-content {
	overflow-y: auto;
}

#studentDataTable>tbody {
	color: #666666;
}

td {
	border-top: 0px !important;
}

#nav-content-wrapper {
	padding: 5px;
	height: 100%;
	width: 100%;
	margin-top: -1px;
	background-color: transparent;
	-moz-box-shadow: inset #fa8a0d 1px 1px 10px 10px;
	-webkit-box-shadow: inset #fa8a0d 1px 1px 10px 10px;
	box-shadow: inset #fa8a0d 1px 1px 10px 10px;
}

.analyticsHeader {
	color: #3e1151;
	font-size: 18px !important;
	font-weight: 400 !important;
	margin-left: 10px;
	margin-top: 10px;
}

#pieLabel>p {
	color: #515151 !important;
}

#analytics>#nav-content-wrapper {
	padding: 5px;
	height: 100%;
	width: 100%;
	margin-top: -1px;
	background-color: transparent;
	-moz-box-shadow: inset #3e1151 1px 1px 10px 10px;
	-webkit-box-shadow: inset #3e1151 1px 1px 10px 10px;
	box-shadow: inset #3e1151 1px 1px 10px 10px;
}

p {
	margin: 0 0 -3px !important;
}

#nav-content {
	height: 100%;
	width: 100%;
	background-color: transparent;
	color: #FFF;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	padding: 10px;
}

#titleArea {
	font-size: 18px;
	font-weight: bold;
	color: #White;
	padding-bottom: 5px;
	margin-bottom: 10px;
	padding-right: 30px;
}

th.headerSortable {
	color: #aeaeae;
	font-size: 7pt;
	border-width: 0px !important;
}

#barChartArea {
	border-bottom: 1px dotted #CCCCCC;
}

#pieChartArea {
	height: 110px;
}

#studentDataArea {
	height: calc(100% - 470px);
	margin-top: 5px;
}

table.studentStats {
	font-size: 12px;
}

#descArea {
	padding-right: 2px;
	font-size: 14px;
	overflow-y: auto;
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word; /* IE 5+ */
	height: calc(95% - 75px);
}

#pieLabel {
	width: 80px;
	position: relative;
	right: -125px;
	line-height: 15px;
	top: -100px;
	font-size: 12px;
}

.color-square {
	display: inline-block;
	height: 10px;
	width: 10px;
}

#infoButton {
	position: absolute;
	top: 5px;
	left: 8px;
}

#analytics>#nav-content-wrapper>#nav-content {
	background-color: #FFF !important;
}

#info>#nav-content-wrapper>#nav-content {
	background-color: rgba(0, 0, 0, 0.85);
}

/* Push Menu Style Overrides */
.cbp-spmenu {
	
}

/* K12 jQuery YouTube player Styles*/
#ytplayer {
	position: relative;
	top: 0px;
	left: 0;
	z-index: 10;
	height: 85%;
	width: 100%;
}

#k12ytp-poster {
	position: absolute;
	top: 96px;
	left: 0;
	bottom: 48px;
	z-index: 20;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: -48px;
	width: 100%;
	cursor: pointer;
}

#k12ytp-poster-playbutton {
	position: absolute;
	color: #ffffff;
	left: 50%;
	top: 50%;
	margin-left: -1.51em;
	margin-top: -1.51em;
	font-size: 2em;
	display: block;
	z-index: 2;
	position: absolute;
	width: 3em;
	height: 3em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	opacity: 1;
	background-color: #3e1151;
	background-color: rgba(62, 17, 81, 0.9);
	border: 0.01em solid #3e1151;
	/* border-radius */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/* box-shadow */
	-webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	-moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	/* transition */
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	line-height: 3em;
	text-shadow: 0.05em 0.05em 0.1em #000;
	text-align: center /* Needed for IE8 */;
}

#k12ytp-poster:hover #k12ytp-poster-playbutton {
	border-color: #fff;
	-webkit-box-shadow: 0 0 3em #ffffff;
	-moz-box-shadow: 0 0 3em #ffffff;
	box-shadow: 0 0 3em #ffffff;
}

#k12ytp-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background-color: #276399;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #F1F1F1;
	z-index: 5000;
}

#k12ytp-buttons {
	margin-top: 8px;
	margin-left: 10px;
	font-size: 18px;
}

#k12ytp-buttons button.btn-default {
	color: #F1F1F1;
	background-color: #276399;
	border: none;
	font-size:18px;
	padding: 0;
}

#k12ytp-buttons button.btn-default:hover {
	color: #ccc;
}

#k12ytp-button {
	float: left;
	margin-right: 15px;
}

#k12ytp-button .popover {
	color: #000;
	font-weight: normal;
	font-size: 12px;
	height: 100px;
	width: 150px;
}

#dd-lang {
	display: none;
}
.cc-icon {
	display:none;
}
.trans-icon {
	display:none;
}
.cc-icon button.btn-default{
	color:#333 !important;
}

.cc-icon button.btn-default:hover {
	color: #ccc !important;
}

.cc-on button.btn-default{
	color: #F1F1F1 !important;
}

#k12ytp-button .arrow {
	left: 85%;
}

#time {
	font-weight: normal;
	font-size: 14px;
}

#time #current-time {
	font-weight: bold;
}

#volume-slider {
	width: 60px;
	margin-top: 7px;
}

#volume-slider .noUi-handle {
	border-radius: 0;
	width: 6px;
	height: 17px;
	left: -3px;
	top: -5px;
}

#volume-slider .noUi-handle:after,#volume-slider .noUi-handle:before {
	display: none;
}

#volume-slider.noUi-horizontal {
	height: 6px;
}

#k12ytp-scrubber {
	width: 100%;
}

.progress {
	height: 8px;
	border-radius: 0;
	background-color: #666666;
}

.progress-bar-success {
	background-color: #C3DD89;
}

.noUi-origin {
	background: #666666;
	border-radius: 0px;
	border: none;
	-webkit-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 1);
}

.noUi-target {
	border-radius: 0px;
	border: none;
	-webkit-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 1);
}

.noUi-background {
	background: #C3DD89;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}

.noUi-horizontal {
	height: 8px;
}

.noUi-handle:after {
	display: none;
}

.noUi-handle:before {
	content: '\2022';
	color: #666666;
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	background: #E8E7E6;
	left: 4px;
	top: -3px;
}

.noUi-horizontal .noUi-handle {
	width: 16px;
	height: 16px;
	left: -8px;
	top: -4px;
}

.noUi-handle {
	border-radius: 50%;
	z-index: 4000;
	-webkit-box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.50);
	box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.50);
}

.noUi-stacking .noUi-handle {
	z-index: 4000;
}

#knanmessage{
  position: absolute;
  left: 42px;
  top: 18px;
  font-family: 'Open Sans';
  color: #fff;
  font-size: 13px;
  font-style: italic;
  display: none;
}

#knannote{
  position: absolute;
  bottom: 66px;
  font-family: 'Open Sans';
  font-size: 13px;
  width: 90%;
  display: none;	
}

#knanlink{
  border-bottom: none;
  padding: 0cm;
}

#khanlink:link {
	color:#fff; 
	text-decoration:underline;
    border-bottom: none;
    padding: 0cm;
}

#khanlink:visited {
	color:#fff; 
	text-decoration:underline;
  	border-bottom: none;
  	padding: 0cm;	
}

#khanlink:hover {
	color:#fff; 
	text-decoration:underline;
  	border-bottom: none;
  	padding: 0cm;		
}

#khanlink:active {
	color:#fff; 
	text-decoration:underline;
  	border-bottom: none;
  	padding: 0cm;		
}
#transcript-pannel {
	background-color:white;
	width:100%;
	height:55%;
	margin-top:75px;
	padding:10px
}
#trans-return {
	padding-top:10px;
	font-size:14px;
	font-weight: bold;
	color: #666;
	cursor: pointer;
    width: 150px;
}
#trans-control {
	width:20%;
	font-size:14px;
}
#trans-content {
	width:100%;
	height:65%;
	overflow-y:auto;
}
.caption-line {
	line-height: 1.3em;
	cursor:pointer;
	font-size:14px;
}
.caption-line:hover {
    background-color: #d0e0fa;
}
.caption-highlight {
	font-weight:700;
	background-color:#f0f0fa;
	transition: all .1s ease-in;
}
.caption-time {
	display:inline-block;
	width:60px;
	color:#666;
	vertical-align: top;
}
.caption-text {
	display:inline-block;
	overflow:hidden;
}