* {
	margin: 0;
	padding: 0;

}

logo {
	background-color: transparent;
	position: fixed;
	top: 100px;
	bottom: 100px left:40px;
	right: 100px;
	margin-top: -3px;
}

#logo img {
	position: fixed;
	top: 45px;
	left: 50px;
}

h3 {
	font: 14pt Trebuchet MS !important;
	letter-spacing: 0.2px !important;
	margin-top: 470px;
	color: #000000;
	word-wrap: break-word;
	max-width: 720px;
}

#player-top {
	height: 45px;
	position: relative;
	background-color: #00718E;
	width: 100%;
}

#player-bottom {
	height: 45px;
	position: relative;
	clear: both;
	background-color: #00718E;
	width: 100%;
	margin-top: -3px;
}

#video-top #title {
	color: #F1F1F1;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, sans-serif;
}

h2 {
	font: bold 30pt Trebuchet MS !important;
	margin-top: 150px !important;
	word-wrap: break-word !important;
	max-width: 700px !important;
	color: #006b8c !important;
	position: relative;
	clear: both;
	letter-spacing: 0.1px !important;
}

#player {
	z-index: 2;
	height: 0px;
	display: inline-block;
}

body {
	background-position: top;
	background-repeat: repeat-x;
	background-color: #F1F1F1;
	font-size: 13px;
	color: #F1F1F1;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 30px transparent;
}

h1 {
	border-bottom: 10px solid #ddd;
	font-size: 40px;
	font-weight: normal;
	padding-bottom: 35px;
	text-align: center;
}

h1 i {
	display: block;
	font-size: 20px;
	font-style: normal;
	margin-top: 8px;
}

#title {
	width: 700px;
	word-wrap: break-word;
	z-index: 1;
}

h1,h2 {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	margin: 30px 0;
}

.flashContainer {
	width: 700px;
}

p {
	line-height: 1.5;
	margin: 0 26px;
	padding-bottom: 15px;
	text-align: justify;
}

pre {
	background-color: #555555;
	border-left: 2px solid #555555;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 25px 15px;
	padding: 8px;
}

blockquote {
	background-color: #555555;
	padding: 18px;
	margin: 0 25px 15px;
}

blockquote p {
	margin: 0;
	padding-bottom: 0;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	padding: 4px;
	color: #555;
	border: 1px solid #555;
	display: block;
	margin-top: 10px;
}

input[type="text"] {
	width: 380px;
}

form small {
	float: left;
	position: relative;
	right: -70px;
	top: -20px;
}

#page {
	/* This the main container div */
	width: 720px;
	margin: 0 auto;
	margin-top: 10%;
	position: relative;
	padding-top: 1px;
}

a,a:visited {
	text-decoration: none;
	outline: none;
	color: #159ce9;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}